.jugador{
    .h1{
        color: white;
        font-size: 20px;
        font-family: 'Courier New', Courier, monospace;
    }
    .perfil-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: green;
    }
    .perfil-body{
    
        .p{
            border: 5px solid black;
            text-align: center;
        }
    }
}
